.bgItem{
    position: absolute;
    height: 100vh;
    width: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -50vh;
    top: 50%;
    margin-top: -50vh;
}

.bg{
    background-image: url("./media/bg.jpg");    
    background-repeat: no-repeat;    
    background-size: cover;
    z-index: 0;
}
.filterBg{
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

@keyframes popupAnimation {
    0%   {
        opacity: 0;
        top: 0px;
    }
    25%  {
        opacity: 1;
        top: 20px;
    }
    50%  {
        opacity: 1;
        top: 20px;
    }
    75%  {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: -100px;
    }
}

.popUpUnico{    
    width: 50vh;
    height: 50px;    
    animation-name: popupAnimation;
    animation-duration: 4s;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    border-radius: 0.5vh;
}

#renderizadorPopUp{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    left: 50%;
}
.spanText{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    
}

.form{
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.formItem{
    width: 30vh;
    margin-top:2vh ;
    font-family: 'Arial Narrow';
    font-weight: bold;
}

.divTitulo{
    font-family: 'Arial Narrow';
    color: darkslategrey;
    font-weight: lighter;
}